{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4 text-center">Change Password</h2>
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}"><i class="fas fa-lock"></i> {{ form.old_password.label_tag }}</label>
                        <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}"><i class="fas fa-lock"></i> {{ form.new_password1.label_tag }}</label>
                        <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}"><i class="fas fa-lock"></i> {{ form.new_password2.label_tag }}</label>
                        <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
