{% extends 'base.html' %}

{% block title %}Sign Up Form{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Sign Up Form</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}"><i class="fas fa-user"></i> {{ form.username.label_tag }}</label>
                            <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" value="{{ form.username.value|default:'' }}" placeholder="Username">
                            {% if form.username.errors %}
                                <small class="text-danger">{{ form.username.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.first_name.id_for_label }}"><i class="fas fa-user"></i> {{ form.first_name.label_tag }}</label>
                            <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default:'' }}" placeholder="First Name">
                            {% if form.first_name.errors %}
                                <small class="text-danger">{{ form.first_name.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.last_name.id_for_label }}"><i class="fas fa-user"></i> {{ form.last_name.label_tag }}</label>
                            <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default:'' }}" placeholder="Last Name">
                            {% if form.last_name.errors %}
                                <small class="text-danger">{{ form.last_name.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}"><i class="fas fa-envelope"></i> {{ form.email.label_tag }}</label>
                            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" placeholder="Email">
                            {% if form.email.errors %}
                                <small class="text-danger">{{ form.email.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}"><i class="fas fa-lock"></i> {{ form.password1.label_tag }}</label>
                            <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password">
                            {% if form.password1.errors %}
                                <small class="text-danger">{{ form.password1.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}"><i class="fas fa-lock"></i> {{ form.password2.label_tag }}</label>
                            <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm Password">
                            {% if form.password2.errors %}
                                <small class="text-danger">{{ form.password2.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.father_name.id_for_label }}"><i class="fas fa-male"></i> {{ form.father_name.label_tag }}</label>
                            <input type="text" class="form-control" id="{{ form.father_name.id_for_label }}" name="{{ form.father_name.name }}" value="{{ form.father_name.value|default:'' }}" placeholder="Father's Name">
                            {% if form.father_name.errors %}
                                <small class="text-danger">{{ form.father_name.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.gender.id_for_label }}"><i class="fas fa-genderless"></i> {{ form.gender.label_tag }}</label>
                            <select class="form-control" id="{{ form.gender.id_for_label }}" name="{{ form.gender.name }}" placeholder="Gender">
                                <option value="M" {% if form.gender.value == 'M' %}selected{% endif %}>Male</option>
                                <option value="F" {% if form.gender.value == 'F' %}selected{% endif %}>Female</option>
                                <option value="O" {% if form.gender.value == 'O' %}selected{% endif %}>Other</option>
                            </select>
                            {% if form.gender.errors %}
                                <small class="text-danger">{{ form.gender.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.address.id_for_label }}"><i class="fas fa-map-marker-alt"></i> {{ form.address.label_tag }}</label>
                    <input type="text" class="form-control" id="{{ form.address.id_for_label }}" name="{{ form.address.name }}" value="{{ form.address.value|default:'' }}" placeholder="Address">
                    {% if form.address.errors %}
                        <small class="text-danger">{{ form.address.errors }}</small>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Sign Up </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
